footer{
    position: fixed;
    bottom: 0;
    width: 90%;
    left: 5%;
    border-radius: 25px;
    display: none;
    justify-content: space-around;
    align-items: center;
}
footer i{
    font-size: 30px;
    color: var(--color-text-subtle);
    cursor: pointer;
}
@media (max-width: 480px) {
 footer{
   display: flex; 
 }
}